.root {
    -fx-base: #222222;
    -fx-background: #222222;
    -fx-control-inner-background: #2b2b2b;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 12px;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.control-panel {
    -fx-background-color: #333333;
    -fx-background-radius: 0;
    -fx-border-width: 0;
    -fx-padding: 10;
    -fx-effect: null;
}

.header-label {
    -fx-text-fill: #909090;
    -fx-font-weight: bold;
    -fx-font-size: 11px;
    -fx-padding: 0 0 5 0;
    -fx-opacity: 1.0;
}

.label {
    -fx-text-fill: #808080;
}

.button {
    -fx-background-color: #404040;
    -fx-text-fill: #cccccc;
    -fx-background-radius: 2;
    -fx-border-width: 0;
    -fx-cursor: hand;
    -fx-padding: 5 10 5 10;
}

.button:hover {
    -fx-background-color: #4a4a4a;
    -fx-text-fill: #eeeeee;
}

.button:pressed {
    -fx-background-color: #2a2a2a;
    -fx-text-fill: #aaaaaa;
}

.text-field {
    -fx-background-color: #1a1a1a;
    -fx-text-fill: #dddddd;
    -fx-background-radius: 2;
    -fx-border-width: 0;
    -fx-padding: 4 6 4 6;
}

.text-field:focused {
    -fx-background-color: #151515;
    -fx-text-fill: #ffffff;
}

.text-field:disabled {
    -fx-opacity: 0.5;
}

.list-view {
    -fx-background-color: #1a1a1a;
    -fx-background-insets: 0;
    -fx-padding: 1;
    -fx-background-radius: 2;
    -fx-border-width: 0;
}

.list-view .list-cell {
    -fx-background-color: #1a1a1a;
    -fx-text-fill: #999999;
    -fx-padding: 4;
}

.list-view .list-cell:even {
    -fx-background-color: #1d1d1d;
}

.list-view .list-cell:filled:selected:focused,
.list-view .list-cell:filled:selected {
    -fx-background-color: #444444;
    -fx-text-fill: #ffffff;
}

.list-view .list-cell:empty {
    -fx-background-color: #1a1a1a;
}

.list-view .scroll-bar:vertical,
.list-view .scroll-bar:horizontal {
    -fx-background-color: transparent;
}
.list-view .scroll-bar:vertical .thumb,
.list-view .scroll-bar:horizontal .thumb {
    -fx-background-color: #444444;
}

.check-box .box {
    -fx-background-color: #1a1a1a;
    -fx-border-width: 0;
    -fx-background-radius: 2;
}

.check-box:selected .mark {
    -fx-background-color: #bbbbbb;
}

.check-box {
    -fx-text-fill: #999999;
}

.check-box:hover {
    -fx-text-fill: #bbbbbb;
}

.separator *.line {
    -fx-border-color: #444444;
    -fx-border-width: 1 0 0 0;
    -fx-border-style: solid;
}

.menu-bar {
    -fx-background-color: #333333;
    -fx-border-width: 0;
    -fx-padding: 0;
}

.menu-item .label {
    -fx-text-fill: #cccccc;
}

.menu-item:focused {
    -fx-background-color: #444444;
}

.context-menu {
    -fx-background-color: #333333;
    -fx-border-color: #222222;
    -fx-border-width: 1;
}